@charset "utf-8";

html, *{
margin:0;
padding:0;
box-sizing: border-box;
font-size:16px; /*全体のフォントサイズの基準*/
}

.top {
    text-align: center;
    margin-bottom: 20px; 
}

.top_icon {
    width:100px;
    height:100px;
    margin: 0 auto;
    border-radius:50%; /* 角丸を作るプロパティ */
    overflow: hidden; /* はみ出した画像を隠すプロパティ */
    }

.top_icon img {
    width:100%;
    }

.contents {
    text-align: center;
}

.buttons {
    border: solid 2px black;
    border-radius: 20px;  /*囲みの角を丸く*/
    background-color: black;
    width: 30%; /*親要素に対して30％ レスポンシブ対応*/
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px; /* ボタン間の余白を追加 */
    cursor: pointer; /*カーソルが指差しのマークになる*/
}

.buttons:hover { /*マウスを当てると...以下スタイルが適応*/
    font-weight: bold;
    background-color: whitesmoke;
}

.buttons a {
    text-decoration: none; /* アンダーラインを非表示にする */
}

.buttons:hover a {
    color: red; /* ホバー時のリンクの色を変更 */
}

.button-content {
    display: flex;
    align-items: center;
    height: 1.5em; /* 1行分の高さに調整 */
}

.photo01 {
    border-radius:20%; /* 角丸を作るプロパティ */
    overflow: hidden; /* はみ出した画像を隠すプロパティ */
    flex: 1 0 10%;
    }

.photo01 img {
    width:100%;
    }

.sns-name {
    color: white;
    width: 100%;
    flex: 9 0 90%;
    text-decoration: none;
    text-align: center;
}

.buttons:hover .sns-name {
    color: red;
}